// .todo__description {
//   margin-top: 10px;
// }

// .todo__add-task {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
// }

// .todo__no-todo {
//   padding: 15px 0;
// }

.todo__task-list {
  list-style-type: none;
  width: 100%;

  .task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid lightgray;
    width: 100%;

    .task {
      font-size: 16px;
      width: 100%;
    }

    .buttons {
      button {
        width: 60px;
        height: 25px;
        border: none;
        background: none;
        border: 1px solid #a0a0a0;
        border-radius: 3px;
        color: #000;
        font-weight: 700;
        outline: none;
        transition: 0.5s;
        &:hover {
          background: #ff9000;
          cursor: pointer;
        }
      }
    }
  }
}
