* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    flex-direction: row;
  }
}

// COMPONENTS
@import "./components/nav/Nav.scss";
@import "./components/home/Home.scss";
@import "./components/to-do/ToDo.scss";
@import "./components/targets/Target.scss";
@import "./components/notes/Notes.scss";
@import "./components/calendar/Calendar.scss";

// INCLUDES
@import "./components/includes/mainContainer/MainContainer.scss";
@import "./components/includes/sideBar/SideBar.scss";
