@import "./components/nav/Nav.scss";
@import "./components/home/Home.scss";
@import "./components/to-do/ToDo.scss";
@import "./components/targets/Target.scss";
@import "./components/notes/Notes.scss";
@import "./components/calendar/Calendar.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

  .main-container {
    display: flex;
    flex-direction: column;
  }
}
