.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
  height: 50px;
  background-color: #ff9000;

  .left-block {
    display: flex;
    flex-basis: 25%;
    justify-content: flex-start;

    .icon {
      margin-right: 10px;
      padding: 5px;

      &:hover {
        background: #fff;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
  .menu-block {
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    height: 100%;

    .menu-button-mobile {
      display: block;
      font-size: 20px;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }

      @media screen and (min-width: 1024px) {
        display: none;
      }
    }

    .menu-list {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 100%;
      list-style-type: none;

      @media screen and (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        height: 100%;
      }

      li {
        display: none;
        @media screen and (min-width: 1024px) {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          transition: 0.5s;
          font-weight: 700;

          &:hover {
            background: rgb(255, 206, 143);
            cursor: pointer;
          }
          &:active {
            background: linear-gradient(#ffb555, #ff9000) #fdbd32;
          }
        }
        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }

  .right-block {
    display: flex;
    flex-basis: 25%;
    justify-content: flex-end;
  }
}
